html,
body,
#root {
  height: 100%;
  margin: 0;
  padding-top: 20px;
}

body {
  font-family: system-ui, sans-serif;
  background-color: var(--bg);
  color: var(--text);
}

/* textos globales */
h1, h2, h3, p, span, label {
  color: var(--text);
}
