html,
body,
#root {
  height: 100%;
  padding-top: 20px;
}

html, body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: system-ui, sans-serif;
  background-color: var(--bg);
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* textos globales */
h1, h2, h3, p, span, label {
  color: var(--text);
}

#root {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

/* ================= TRANSICIÓN GLOBAL SINCRONIZADA ================= */
*, 
*::before, 
*::after,
body, 
.navbar-container, 
.navbar-content,
.card, 
.post-card-twitter,
.register-layout,
.register-left,
.register-right,
.form-control,
.custom-select-dropdown,
.custom-select-item {
  transition: background-color 0.3s ease-in-out, 
              background 0.3s ease-in-out, 
              border-color 0.3s ease-in-out, 
              box-shadow 0.3s ease-in-out,
              color 0.15s ease-in-out, 
              fill 0.15s ease-in-out !important;
}